@{
    ViewData ["Title"] = "Aplicacion no disponible";
}

<div class= "container">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-muted">La aplicacion se encuentra no disponible, intente mas tarde.</p>
</div>