@model UserEdit

@{
    var singleton = Singleton.Instance; 
}

<div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #031435">
        <div class="modal-header">
            <h5 class="modal-title text-center text-white" id="signupModalLabel">Modificar cuenta</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="container">
                <form asp-action="Edit" class="w-100" enctype="multipart/form-data">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-6">
                            <div class="mt-4 mb-4">
                                <div class="d-flex flex-row align-items-center">
                                    <i class="fas fa-user fa-lg me-3 fa-fw text-white"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <label asp-for="Name" class="form-label text-white"></label>
                                        <input asp-for="Name" type="text" class="form-control"
                                            value="@singleton.InfoUser?.Name" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="d-flex flex-row align-items-center">
                                    <i class="fas fa-envelope fa-lg me-3 fa-fw text-white"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <label asp-for="Email" class="form-label text-white"></label>
                                        <input asp-for="Email" type="email" id="form3Example3c" class="form-control"
                                            value="@singleton.InfoUser?.Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-6">
                            <div>
                                <label asp-for="ImageProfile"
                                    class="form-label text-white d-flex justify-content-center mb-4"> Imagen de
                                    perfil</label>
                                <div class="d-flex justify-content-center mb-4">


                                    <img id="selectedAvatar" src='@((singleton.InfoUser.ImageProfile == null) ? "https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" : $"data:image/png;base64,{singleton.InfoUser.ImageProfile}")'
                                        class=" navbar-logo"
                                        style="border-radius: 50%; width: 200px; height: 200px; object-fit: cover;"></a>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <div data-mdb-ripple-init class="btn btn-primary btn-lg rounded-pill mt-3">
                                        <label asp-for="ImageProfileFormFile">Cambiar imagen</label>

                                        <input asp-for="ImageProfileFormFile" accept="image/jpeg, image/png" class="form-control d-none"
                                            onchange="displaySelectedImage(event, 'selectedAvatar')" />

                                    </div>

                                </div>
                                <span asp-validation-for="ImageProfileFormFile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mb-4">
                        <button type="submit" class="btn btn-primary btn-xl rounded-pill mt-3">Modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}