@{
    ViewData["Title"] = "Home page";
}

<header class="masthead text-center text-white">
    
    <div class="masthead-content">
        <div class="container px-5">
            <h2 class="masthead-subheading mb-0">Organiza, almacena y comparte con</h2>
            <h1 class="masthead-heading mb-0">CloSiris</h1>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Saber más</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/images/bannerOne.jpg" alt="..." />
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">¡Bienvenido a Closiris!</h2>
                    <p>En Closiris, creemos que gestionar tus documentos debe ser simple, seguro y sin
                        complicaciones. Nuestra misión es ofrecer una plataforma intuitiva donde puedas almacenar,
                        organizar y compartir tus archivos de manera eficiente.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/images/archivos.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Qué Hacemos</h2>
                    <p>Closiris ofrece una solución robusta basada en la nube que permite a individuos y empresas:
                    </p>
                    <p>Almacenar: Guarda todos tus documentos importantes en un lugar seguro con amplio espacio de
                        almacenamiento.</p>
                    <p> Organizar: Utiliza nuestra interfaz intuitiva para categorizar y gestionar tus archivos de
                        manera eficiente.
                    </p>
                    <p> Compartir: Colabora fácilmente compartiendo documentos con otros, con controles de acceso
                        personalizables.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/images/valores.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Nuestros Valores</h2>
                    <p>Seguridad: Tus datos son nuestra máxima prioridad. Empleamos protocolos de cifrado y
                        seguridad de vanguardia para garantizar que tus documentos estén protegidos contra accesos
                        no autorizados.</p>
                    <p>Simplicidad: Creemos en crear tecnología que trabaje para ti, no en tu contra. Nuestra
                        plataforma está diseñada para ser directa y fácil de usar, para que puedas enfocarte en lo
                        que realmente importa.</p>
                    <p>Accesibilidad: Accede a tus documentos en cualquier momento, desde cualquier lugar y desde
                        cualquier dispositivo. Con Closiris, tus archivos siempre están a solo un clic de distancia.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

